#skills{
    height: 800px;
    font-size: 30px;
    grid-row: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    color: black;
    background: rgb(247, 243, 243);
    background-size: cover;
}

.skillsContainer{
    display:flex;
    flex-direction: row;
    line-height: 1.8;
    text-align: center;
}

.layout{
    width: 300px;
    background:rgb(225, 216, 225);
    padding: 25px;
    border-radius: 55px;
    transition: ease 1s;
    
    

    &__list{
        list-style: none;
    }

    &:hover{
        background: rgb(249, 194, 203);
        transform: translateY(-20px);
    }

}
   


.development{
    margin: 0 55px 0 55px;
    width: 300px;
    padding:25px;
    background:rgb(225, 216, 225);
    transition: ease 1s;
    border-radius: 55px;

    &__list{
        list-style: none;
    }

    &:hover{
        background: rgb(249, 194, 203);
        transform: translateY(-20px);
    }
   
}


.learning{
    width: 300px;
    padding:25px;
    background:rgb(225, 216, 225);
    transition: ease 1s;
    border-radius: 55px;

    &__list{
        list-style: none;
    }

    &:hover{
        background: rgb(249, 194, 203);
        transform: translateY(-20px);
    }
   
}

.title{
    text-decoration: underline;
}





