.cover {
    height: 100vh;
    width: 100%;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.6);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__name{
     text-transform: uppercase;  
     color:black;
     font-size: 100px;
     z-index: 1;
    }
    &__job{
        text-transform: uppercase;  
        color:black;
        font-size: 32px;
        z-index: 1;
       }
}

.video{
    height: 100vh;
    width: 100%;
    object-fit: cover;  
    position:absolute;
}