
@import "../variables/variables.scss";

.network{
    margin-top: 50px;
    float:right;
    display: flex;
    flex-direction: column;
    width: fit-content;

    @media all and (min-width: 768px) {
     margin: 0 0 0 10px;
  
    }

    @media all and (min-width: 1200px) {
        margin: 0 40px 0 0;
    }
}

.networks{
    margin: 10px;
    padding:35px 60px;
	border-radius:10px;
    border: 2px solid $border-box-shadow;
    box-shadow: 0px 3px 10px 0px $box-shadow;
  
    &__link{
        color:black;
        text-decoration: none;
    }
}

.fas, .fab{
    margin-right: 10px;
    font-size:20px;
}
