
@import "../variables/variables.scss";

.network{
    margin-left:40px;
    float:right;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.networks{
    margin: 10px;
    padding:35px 60px;
	border-radius:10px;
    border: 2px solid $border-box-shadow;
    box-shadow: 0px 3px 10px 0px $box-shadow;
  
    &__link{
        color:black;
        text-decoration: none;
    }
}

.fas, .fab{
    margin-right: 10px;
    font-size:20px;
}
