
@import "../variables/variables.scss";

.navbar{
position: fixed;
top: 0;
z-index: 1;
background-color: transparent;
width: 100vw;
height: 90px;
z-index: 2;

  &__list{

    text-transform: uppercase;
    line-height: 60px;
    cursor: pointer;
    display: flex;
    list-style: none;
    flex-direction: column;
    position:absolute;
    width: 100vw;
    align-items: center;
    background:linear-gradient(50deg, rgb(236, 81, 133), #a7535f);
    // overflow-y: auto;
    
    @media all and (min-width: 768px) {
      font: 20px black;
      position:fixed;
      width: 100%;
      line-height: 80px;
      
     }

    @media all and (min-width: 1200px) {
      background: none;
      margin-left: 20px;
      flex-direction: row;
      font: 21px black bold;
      top:0;
      opacity: 1;
    
     }

     &--item:nth-child(1){ 
      margin-top: 30px;
      

      @media all and (min-width: 1200px) {
        border: none;
        margin: 40px 20px 20px 10px;
      }
  }
    
     &--item{
        @media all and (min-width: 1200px) {
          border: none;
          margin: 40px 20px 20px 10px;
        }
     }
  }
}

.scrolling{
  background-color: black;
  transition: all 0.5s ease;
}

.links{
  text-decoration: none;
  color:black;
}


.btn{
  position: absolute;
  margin: 7px 0 0 7px;
  padding: 4px;
  border:none;
  background: none;

  .fab{
    font-size:30px;
  }
 

@media all and (min-width: 1200px) {
  display: none;
}
}
