
@import "../variables/variables.scss";

#projects{
    height: 100%;
    background: $main-color;
   

    &__title{
        display: flex;
        justify-content: center;
        font-size: 30px;
        align-items: center;  
    }
}

.projects__container{ 
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
    padding: 45px;
}

.cards{
    padding: 14px;
    border-radius: 10px;
    border: 2px solid $box-shadow;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    width: 310px;
    height: 325px;
    margin: 45px;
    background: $main-light-color;
    
    &__images{
        width: 280px;
        height: 170px;
        padding-top:10px;
        object-fit: cover;
    }
    &__title{
        margin: 3px 0 3px 0;
        color:rgb(108, 99, 99);
        text-align: center;
       }
    &__links{
        text-decoration: none;
        color:rgb(189, 171, 189);
    }
    &__description{
        padding: 2px;
        margin: 4px;
        text-align: center;
        }

}
    
.github{
    font-size: 20px;
    margin-top: 35px;
    display: flex;
    justify-content: center;

  &__button{
          text-decoration: none;
          color: black;
          border: 1px solid grey;
         
          padding: 9px;
          border-radius: 15px;
          margin-bottom: 100px;

          &:hover{
           background: $main-light-color;
          }
  }
}


