
#aboutMe{
    height: 800px;
    background: rgb(240, 233, 240);
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: black;  
}

.description{
    text-align: justify;
    width: 50%;
    float:left;
    font-size: 25px;

    &__title{
        padding: 20px 0 25px 0;
        font-size: 30px;  
    }
    
    }

.button{
    font-size: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: center;

  &__cv{
       
          text-decoration: none;
          color: black;
          border: 1px solid grey;
          box-shadow: 0px 3px 10px 0px grey;
          padding: 6px;
          border-radius: 10px;

          &:hover{
            background: rgb(247, 243, 243);
          }
  }

  
}

.photo{
    margin: 110px;
    width: 220px;
    height: auto;
    border-radius:150px;
  

}


