
@import "../variables/variables.scss";

.text{
  display: inline-block;
  font: 20px bold;
 
  @media all and (min-width: 768px) {
    font: 25px bold;
}

@media all and (min-width: 1200px) {
    font: 30px bold;
  
}
}

span {
   display:inline-block;
   text-shadow: 0 0 0 $text-shadow;
   animation: smoky 5s 3s both;
  }
  
  span:nth-child(even){
    animation-name: smoky-mirror;
  }
  
  @keyframes smoky {
    60% {
      text-shadow: 0 0 40px $text-shadow;
    }
    to {
      transform:
        translate3d(15rem,-8rem,0)
        rotate(-40deg)
        skewX(70deg)
        scale(1.5);
      text-shadow: 0 0 20px $text-shadow;
      opacity: 0;
    }
  }
  
  @keyframes smoky-mirror {
    60% {
      text-shadow: 0 0 40px $text-shadow; }
    to {
      transform:
        translate3d(18rem,-8rem,0)
        rotate(-40deg) 
        skewX(-70deg)
        scale(2);
       text-shadow: 0 0 20px $text-shadow;
      opacity: 0;
    }
  }
  
  @for $item from 1 through 21 {
    span:nth-of-type(#{$item}){ 
      animation-delay: #{(10 + ($item/10))}s; 
    }
  } 